h1 {
    text-align: center;
    color: red;
    border: 2px solid black ;
}
#a1 {
    text-align: center ;
    margin-left: 500px;
    border: 2px solid black;
}
#a2 {
    color: aqua;
    text-align: left;
}
#a4,#a5 {
    text-align: center;
    border: 2px solid black;
    text-align: center;
}
body{
    background-color: lightgray;
    text-align: center;
}

